body {
	padding: 0;
	
	font-family: "Montserrat", sans-serif;

	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #222;
	
	position: relative;
	background-color: #fff;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
input[type="radio"].invisible,
.invisible:not(:focus):active {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
  padding: 5px 32px;
    
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
  text-align: center;
	vertical-align: top;

	background-color: #ef5b5b;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: #00b1ff;
}

.btn:active {
	opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}

.pink-text {
	font-family: Segoe Script;
	
	color: #ef5b5b;
	font-size: 24px;
}

.section-title {
	margin: 10px 0 25px;
	
	font-size: 28px;
}

.description {
	margin: 0;
	padding: 0;
	
	font-family: "Poppins";
	font-size: 16px;
	line-height: 28px;
	color: #808080;
}

/****************************************************************************/

.main-header {
	margin-bottom: 80px;
	max-height: 980px;
	
	background-color: #a4cde3;
	background-image: url("../img/header-background.jpg");
	background-position: top center;
  background-repeat: no-repeat;
}


.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
		
	padding: 60px 0;
}

.main-header-logo {
	margin-right: auto;	
	width: 181px;
	height: 37px;
}

.site-nav {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
		
	max-width: 800px;
	margin: 0;
	margin-right: 20px;
	padding: 0 0;
	
	list-style: none;
}

.site-nav a {
	display: block;
	
	color: #222;
	font-weight: 600;
}

.site-nav svg {
	vertical-align: middle;
}

.site-nav a:hover,
.site-nav a:focus {
	color: #ef5b5b;
}

.site-nav a {
	padding-left: 50px;
}

.book-btn {
	max-width: 170px;
	margin: 0;
}

.header-banner {
	padding-top: 165px;
	
	font-size: 28px;
	text-transform: none;
}

.header-banner .pink-text {
	font-size: 28px;
}

.banner-title {
	margin: 32px 0;
	
	font-size: 41px;
}

.header-banner {
	margin: 0;
}

.explore-btn {
	margin: 43px auto 425px 0;
	
	padding: 12px 20px;
}

/*************************************MAIN*****************************************/

/*************************************feature-trip*********************************/


.feature-trips {
	margin-bottom: 150px;
}

.feature-trips .container {
	display: flex;
}

.feature-trips .text-wrapper {
	width: 270px;
	margin-right: 30px;
}

.feature-trips .book-btn {
	margin: 35px 0 0;
	padding: 12px 42px;
}

.trips-list {
	display: flex;
	justify-content: space-between;
	width: 870px;
	margin: 0;
	margin-top: -170px;
	padding: 0;
	
	list-style: none;
}

.trip-item {
	font-size: 14px;
	font-weight: 600;
	
	border-bottom: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
	border-radius: 5px;
}

.trip-title {
	margin: 0;
	padding: 15px 0;
	
	font-size: 20px;
	color: #222;
	text-transform: none;
	text-align: center;
	
	border-bottom: 2px solid #d6d6d6;
}

.trip-rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;	
	
	box-sizing: border-box;
	
	padding: 15px 10px;
}

.stars-rating {
	display: flex;
	align-items: center;
	
	margin-left: 5px;
	margin-right: auto;
}

.discover-btn {
	
	padding: 0 20px;
	
	text-transform: none;
}
/********************************services+features*************************************/

.services,
.features {
	padding: 150px 0 0;
	text-align: center;
	
	background-color: #f0efef;
}

.services .section-title,
.features .section-title {
	margin-bottom: 70px;
}

.services-list,
.features-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.service-item, 
.feature-item {
	box-sizing: border-box;
	
	background-color: #fff;
	border: 1px solid #cbcbcb;
}

.service-title,
.feature-title {
	margin: 22px 0 10px;
		
	font-size: 24px;
}

/*************************************services*****************************************/

.service-item {
	width: 375px;
	
	padding: 55px 20px 60px;
}

/*********************************features***************************************/

.features {
	padding-bottom: 150px;
}

.feature-item {
	width: 570px;
	
	text-align: left;

	margin-bottom: 30px;
	padding: 5px 27px 30px;
	
}

.feature-title {
	color: #00b1ff;
}

/*********************************places***************************************/

.places {
	padding: 150px 0;
	text-align: center;
	
	background-image: url("../img/map-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
}

.places .description {
	padding: 0 200px;
}

.continents-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.continent-item {
	width: 570px;
	margin-top: 80px;
	
	display: flex;
}

.right-column {
	padding-left: 25px;
	
	text-align: left;
}

.continent-title {
	margin: 20px 0 10px;
	
	font-size: 24px;
}

.countries-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 383px;

	margin: 0;
	padding: 0;
	
	font-size: 16px;
	line-height: 15px;
}

.countries-list li {
	position: relative;
	
	display: inline-block;
	
	padding: 10px 15px 8px;
	
	font-family: "Poppins";
	font-weight: 500;
	color: #808080;
}

.countries-list li::before {
	content: "";
	position: absolute;
	
	left: 0;
  top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	
	border: 1.5px solid #00b1ff;
	border-radius: 50%;
}

/*********************************goals***************************************/

.goals {
	padding: 110px 0;
	background-color: #ef5b5b;
	
	font-size: 18px;
	line-height: 28px;
	color: #fff;
}

.goals-list {
	display: flex;
	justify-content: space-between;
	
	padding: 0;
	
	list-style: none;
}

.goals-list li {
	position: relative;
	
	padding-left: 70px;
}

.goals-list li::before {
	content: "";
	position: absolute;
	
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	
	background-image: url("../img/people.png");
}

.goals-list li:nth-child(1)::before {
	width: 54px;
	height: 50px;
	
	background-image: url("../img/people.png");
}

.goals-list li:nth-child(2)::before {
	width: 50px;
	height: 50px;
	
	background-image: url("../img/paper-airplane.png");
}

.goals-list li:nth-child(3)::before {
	width: 49px;
	height: 43px;
	
	background-image: url("../img/flag.png");
}

.goals-list li:nth-child(4)::before {
	width: 47px;
	height: 44px;
	
	background-image: url("../img/award.png");
}

.goals-list span {
	display: block;
}

.goal-number {
	font-size: 48px;
	line-height: 54px;
	font-weight: 700;
	
}

/*********************************history***************************************/

.history {
	height: 2201px; /*Временнно*/
	
	background-image: url("../img/video-background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.video-tour {
	margin-bottom: 250px;
	padding-top: 870px;
	
	vertical-align: top;
	
	font-family: "Poppins";
	font-size: 48px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	
	cursor: pointer;
}

.video-btn {
	display: inline-block;
	
	vertical-align: middle;
}

.modal-video {
	display: none;
	position: fixed;
	
	width: 560px;
	height: 315px;
	
	top: 50%;
	left: 50%;
	
	transform: translate(-50%,-50%);
}

.modal-close {
	position: absolute;
	
	top: 0;
	right: -60px;
	
	height: 55px;
	width: 55px;
	
	font-size: 0;
	border: 0;
	background: url(../img/cancel.svg) 0 0 no-repeat;
	cursor: pointer;
}

.modal-show {
	display: block;
}

.feedback {
	text-align: center;
}

.feedback>span {
	font-family: Segoe Script;
	font-size: 24px;
}

.feedback h3 {
	margin: 10px 0 50px;
	
	font-size: 28px;
	color: #fff;
}

/************************************SLIDER************************************/

.slider {
	width: 900px;
	margin: 0 auto;
}

.slick-slide {
	margin: 0;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
	transform: scale(0.75);
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
	transform: scale(1);
	position: relative;
	min-height: 700px;
}

.client-feedback {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	
	left: -300px;
	top: 320px;	
	width: 900px;
	height: 320px;
	
	box-sizing: border-box;
	padding: 60px 50px 20px;
	
	color: #fff;
	order: 1000;
	
	background-image: url("../img/speech-bubble.svg");
	background-position: top center;
	background-repeat: no-repeat;
}

.client-text {
	margin-bottom: auto;
}

.slick-current .client-feedback {
	display: flex;
}

.half-client-name {
	display: inline-block;
	
	vertical-align: top;
	
	font-family: inherit;
	font-size: 20px;
	line-height: 20x;
}

.half-client-name.slash {
	width: 30px;
	height: 50px;
	
	background-image: url("../img/slash.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.client-occupation {
	font-size: 16px;
}

/******************************blog**************************************/

.blog {
	padding: 150px 0 195px;
	text-align: center;
}

.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin: 95px 0 20px;
	padding: 0;
	
	list-style: none;
}

.blog-list li {
	width: 570px;
	margin-bottom: 50px;
	
	display: flex;
	
	font-size: 16px;
	line-height: 28px;
	color: #808080;
}

.blog-list .right-column {
	padding-left: 17px;
}

.blog-item-title {
	margin: 30px 0 10px;
	
	font-size: 20px;
	color: #222;
}

.blog-btn {
	padding: 5px 37px;
}

.blog-date,
.blog-time {
	display: inline-block;
	position: relative;
	
	margin-top: 15px;
	padding-left: 20px;
}

.blog-date {
	padding-right: 90px;
}

.blog-date::before,
.blog-time::before {
	content: "";
	position: absolute;
	
	width: 16px;
	height: 16px;
	
	top: 4px;
	left: 0;
}
.blog-time::before {
	background-image: url("..//img/wall-clock.svg");
}

.blog-date::before {
	background-image: url("..//img/calendar.svg");
}


/******************************app**************************************/

.app {
	min-height: 600px;
	
	padding-top: 185px;
	box-sizing: border-box;
	
	background-image: url("../img/phone-background.jpg");
	background-position: top center;
}

.app .container {
	padding-left: 600px;
	box-sizing: border-box;
}

.app .description {
	margin-bottom: 37px;
}

.app .section-title {
	text-transform: uppercase;
}

.app-btn {
	width: 200px;
	box-sizing: border-box;
	
	padding: 9px 20px 9px 70px;
	margin-right: 35px;
	
	
	font-family: "Poppins";
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	
	text-align: left;
	white-space: normal;
	text-transform: none;
	
	background-repeat: no-repeat;
	background-position: 18% 50%;
}

.android-btn {
	background-image: url("../img/android.svg");
}

.apple-btn {
	background-image: url("../img/apple.svg");
}

/******************************partner**************************************/

.partners {
	padding: 195px 0;
	text-align: center;
	color: #fff;
	
	background-image: url("../img/partner-background.jpg");
}

.partners-list {
	display: flex;
	justify-content: space-between;
	
	margin: 0;
	margin-top: 75px;
	padding: 0;
	
	list-style: none;
}

/******************************newsletter**************************************/

.newsletter {
	padding: 120px 0;
	
	background-color: #dedfdf;
}

.newsletter .container {
	display: flex;
	justify-content: space-between;
}

.newsletter-column {
	width: 50%;
	box-sizing: border-box;
	padding-right: 30px;
}

.newsletter-form {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	
	width: 50%;
	box-sizing: border-box;
	padding-left: 30px;
}

.newsletter-form .field {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(33, 30, 31, 0.2);
}

.newsletter-btn {
	padding: 0;
	
	width: 90px;
	height: 80px;

	cursor: pointer;

	background-color: #00b1ff;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(33, 30, 31, 0.2);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.newsletter-btn:hover,
.newsletter-btn:focus {
	background-color: #ef5b5b;
}

.newsletter-btn:active {
	opacity: 0.6;
}

/******************************contact-us***************************************/

.contact-us {
	padding: 150px 0;
	
	text-align: center;
}

.contact-us-form {
	display: flex;
	justify-content: space-between;
	
	margin-top: 95px;
}

.form-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 547px;
	box-sizing: border-box;
}

.contact-us-form input, 
.contact-us-form textarea,
.form-btn {
	margin-bottom: 20px;
}

/******************Убрать в общие свойсвта****************/

.field {
	padding: 20px 40px;

	box-sizing: border-box;  

	font-size: 18px;
	line-height: 28px;
	color: #808080;

	font-weight: 400;

	background-color: #fff;
	
	overflow: hidden;
}

.field:focus::-webkit-input-placeholder {
    color: transparent;
}

.field:focus::-moz-placeholder {
    color: transparent;
}
 
.field:focus:-moz-placeholder {
    color: transparent;
}
 
.field:focus:-ms-input-placeholder {
    color: transparent;
}

/**********************************/

.contact-us-form .field {
	border: 1px solid #808080;
	border-radius: 5px;
}

textarea[name="message-text"] {
  min-width: 547px;
	max-width: 547px;
	min-height: 190px;
}
	
.form-btn	{
	margin-left: auto;
	padding: 15px 27px;
	align-self: center;
	
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}
/***********************************FOOTER**********************************/

.main-footer {
	padding: 100px 0 0;
	
	font-family: "Poppins";
	background-color: #dedfdf;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.main-footer .description {
	margin: 35px 0;
}

/***********************************contacts**********************************/

.contacts {
	width: 470px;
}

.contacts a {
	color: #ef5b5b;
	text-transform: none;
}

.contacts p[class*="contact-"] {
	margin: 0;
}

/***********************************links+social**********************************/
.links,
.social {
	width: 170px;
	
	box-sizing: border-box;
	padding-left: 60px;
}

.list-title {
	margin: 0;
	margin-bottom: 35px;
	
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
}

.links-list,
.social-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

/***********************************instagram**********************************/

.instagram {
	display: flex;
	flex-direction: column;
		
	width: 270px;
	box-sizing: border-box;
	padding-left: 60px;
}

.search-form {
	display: flex;
	justify-content: space-between;
	
	margin-top: auto;
}

.search-field {
	height: 40px;
	box-sizing: border-box;
	
	font-size: 14px;
	font-weight: 500;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(33, 30, 31, 0.2);
}

.search-btn {
	width: 40px;
	padding: 0;

	cursor: pointer;

	background-color: #00b1ff;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(33, 30, 31, 0.2);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.search-btn:hover,
.search-btn:focus {
	background-color: #ef5b5b;
}

.search-btn:active {
	opacity: 0.6;
}

/***********************************copyright**********************************/
.copyright {
	padding: 20px 300px 15px;
	font-size: 16px;
	line-height: 15px;
	color: #fff;
	background-color: #00b1ff;
	text-align: center;
}
	
/************************************************* **********************************/

@font-face {
	font-family: Segoe Script;
	src: local("Segoe Script");
}


